/** link styles */

html, body, #canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: var(--token-simulation-grey-darken-30, #212121);
}

body:not(.presentation-mode) .bts-notifications {
  bottom: 60px;
}

.links, .drop-message {
  z-index: 1;
}

.top-links {
  position: absolute;
  top: 24px;
  right: 24px;
}

.bottom-links {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.link {
  color: var(--token-simulation-grey-darken-30, #212121);
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  text-decoration: none;
  border: none;
}

.link:hover {
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #10D070);
}

.links .link + .link {
  margin-left: 20px;
}

.presentation-mode .drop-message,
.presentation-mode .links {
  display: none;
}

/* Ajuste de posición del canvas y el panel de propiedades */
.canvas-parent {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.canvas {
  flex-grow: 1;  /* Ocupa todo el espacio restante */
  position: relative;
  overflow: hidden;
}

.properties-panel {
  width: 300px;  /* Ancho del panel de propiedades */
  border-left: 1px solid #ccc;
  background-color: #f9f9f9;
  position: relative;
}

.properties-panel.open {
  display: block;
}

.properties-panel:not(.open) {
  display: none;
}

/* Aumentar el área visible del canvas cuando el panel está abierto */
.canvas-parent .canvas {
  width: calc(100% - 300px); /* Restar el ancho del panel de propiedades */
}

/* Ajuste para que las herramientas y diagramas no se solapen */
.canvas .djs-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.token-simulation-active .bio-properties-panel-container {
  opacity: .75;
}

.token-simulation-active .properties-panel input,
.token-simulation-active .properties-panel textarea,
.token-simulation-active .properties-panel select,
.token-simulation-active .properties-panel .bio-properties-panel-checkbox {
  pointer-events: none;
}

.properties-panel-resizer {
  position: absolute;
  left: -12px;
  top: 0;
  bottom: 0;
  width: 22px;
  z-index: 3;
  cursor: e-resize;
}

.properties-panel-resize-handle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
}

.properties-panel:not(.open) .properties-panel-resizer {
  width: 12px;
  cursor: w-resize;
}

.properties-panel:not(.open) .properties-panel-resize-handle {
  left: 10px;
}

.properties-panel-resizer:hover .properties-panel-resize-handle {
  border-right: solid 3px hsl(205, 100%, 50%);
}

.bio-properties-panel-container {
  width: 100%;
}


/** file-drops */

.drop-message {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
}

.drop-message.error {
  background: #dd7373;
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  background: rgba(255, 255, 255, .9);
  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.buttons li {
  display: inline-block;
  margin-right: 20px; /* Añade espacio entre los botones */
}

.buttons .link {
  padding: 10px 15px; /* Ajusta el tamaño del botón */
  font-size: 16px; /* Asegúrate de que el tamaño de la fuente sea consistente */
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF); /* Fondo igual que el botón */
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--token-simulation-grey-darken-30, #212121);
}

.buttons .link:hover {
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #10D070);
}

/* Estilo para las entradas de clave-valor dentro de userPool */
.user-pool-container {
  display: flex;
  flex-direction: column;
  margin: 15px auto; /* Centra el contenedor horizontalmente */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 90%; /* Asegurarse de que el contenedor ocupe el 90% del espacio disponible */
  box-sizing: border-box;
}

.user-pool-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.user-pool-item input {
  width: 48%; /* Ambos inputs ocupan el 48% del ancho disponible */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Aseguramos que el botón Add Role esté en una nueva línea y centrado */
.add-role-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  width: 150px;
  display: block; /* Asegura que el botón ocupe una línea entera */
  margin-left: auto;
  margin-right: auto; /* Centra el botón horizontalmente */
}

.add-role-button:hover {
  background-color: #0056b3;
}

.remove-role-button {
  padding: 5px 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-role-button:hover {
  background-color: darkred;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para overlay */
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #EFEFEF; /* Fondo del modal */
  color: #212121; /* Color del texto */
  padding: 30px;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra del modal */
  max-width: 80vw;
  max-height: 80vh;
  width: 80vw;
  height: auto;
  overflow-y: auto;
}

.modal pre {
  white-space: pre-wrap; /* Ajuste para que el texto largo se ajuste */
  background-color: #EFEFEF;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #212121;
  font-size: 14px;
}

.modal button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF); /* Fondo igual que el botón activo */
  color: var(--token-simulation-grey-darken-30, #212121); /* Color de texto consistente */
  cursor: pointer;
  border: none; /* Sin borde */
  border-radius: 6px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.modal button:hover {
  color: var(--token-simulation-white, #FFFFFF); /* Texto en blanco al hacer hover */
  background-color: var(--token-simulation-green-base-44, #10D070); /* Fondo verde al hacer hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al hacer hover */
}

